.banner{
    background-image: url('../../img/banner.png');
    background-size: cover;
    background-position: center bottom;
    height: 300px;
}
.img-logo{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
@media (max-width: 767px){
   
}