<div class="container-fluid">
    <div class="container" style="padding: 40px 15px; font-family: 'OpenSans-Bold'; color: #0067af">
        <h3 class="text-center">Siga os passos abaixo:</h3>
    </div>
</div>
<div class="container-fluid" style="border-bottom: 1px #e3e3e3 solid">
    <div class="container">
        <div class="col-lg-10 text-center col-lg-offset-1 col-md-6 col-md-offset-3 fundo-passos">
            <img src="img/1-2.png" alt="" class="passo1"/>            
            <img src="img/2-1.png" alt="" class="passo2"/>
            <img src="img/3-2.png" alt="" class="passo3"/>          
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 40px 15px;">
    <div class="container"  >
        <h2 class="text-center" style="font-family: 'OpenSans-Bold'; color: #0067af">Relação de Candidatos</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="col-lg-10 text-center col-lg-offset-1 col-md-6 col-md-offset-3 header-candidatos">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 div-conselho-deliberativo">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo-conselho">
                    <h4>CONSELHO DELIBERATIVO</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo-votos">
                    <h4>SELECIONE 1 CANDIDATO</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info-candidato text-left" ng-repeat="dados in lstDeliberativo" ng-class="fundo">
                    <img src="img/f{{dados.foto}}.png" alt="" class="img-candidato"/>
                    <h4 class="nome-candidato">{{dados.nome}}</h4>
                    <input type="checkbox"
                           ng-change="gerarVotosDeliberativo(dados)" 
                           ng-disabled="nvotosDeliberativo == limiteVotosDeliberativo && dados.voto != true" 
                           ng-model="dados.voto" 
                           ng-class="dados.voto === true ? fundo = 'votado' : fundo = false" />
                    <h5>Votar</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 div-conselho-fiscal">
                <div class="col-lg-12 titulo-conselho">
                    <h4>CONSELHO FISCAL</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo-votos">
                    <h4>SELECIONE 1 CANDIDATO</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left info-candidato" ng-repeat="dado in lstFiscal"  ng-class="fundoFiscal">
                    <img src="img/f{{dado.foto}}.png" alt="" class="img-candidato"/>
                    <h4 class="nome-candidato">{{dado.nome}}</h4>
                    <input type="checkbox"
                           ng-change="gerarVotosFiscal(dado)"
                           ng-disabled="nvotosFiscal == limiteVotosFiscal && dado.voto != true" 
                           ng-model="dado.voto"
                           ng-class="dado.voto === true ? fundoFiscal = 'votado' : fundoFiscal = false"
                           style="margin-top: 48px;"/>
                    <h5 style="margin-top: 50px;">Votar</h5>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding: 30px 0px">
                <a href="#/confirmacao">
                    <button ng-disabled="" ng-click="confirmarVotos()" class="botao-votar btn">Votar</button>
                </a>
            </div>
        </div>
    </div>
</div>